{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "네이버 카페, 여수 시청, 여수 쌍봉초등학교 등 다양한 웹 게시판을 자동으로 모니터링하고 크롤링하여 **RSS 피드**를 제공하는 서비스입니다.\n\n각 게시판의 새로운 글을 주기적으로 수집(Polling)하여 자체 데이터베이스에 보관하며, 클라이언트 요청 시 즉시 RSS 2.0 규격의 XML 문서를 생성하여 반환합니다.\n\n## 📌 핵심 기능\n\n1. **통합 RSS 피드 제공**: 여러 형태의 웹 게시판들을 RSS 2.0 표준 규격으로 일원화하여 서빙합니다.\n2. **피드 목록 요약 페이지**: 서비스 중인 전체 RSS 피드 목록을 HTML 화면(`GET /`)으로 제공합니다.\n3. **백그라운드 크롤링 엔진**: 설정된 스케줄에 따라 게시글을 미리 수집하므로, 요청 시 별도 외부 서버 조회 없이 빠르게 응답합니다.\n4. **표준 에러 응답 포맷**: 모든 에러 응답은 `{\"result_code\": \u003cHTTP 상태 코드\u003e, \"message\": \"\u003c에러 메시지\u003e\"}` JSON 형식을 따릅니다.\n\n## 🚀 사용 안내\n\n- `/{id}` 또는 `/{id}.xml` 형식 모두 동일하게 처리됩니다. (예: `/naver-cafe` = `/naver-cafe.xml`)\n- 지원하지 않는 식별자의 경우 400 Bad Request를 반환합니다.\n",
        "title": "RSS Feed Server API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "DarkKaiser",
            "url": "https://github.com/DarkKaiser",
            "email": "darkkaiser@gmail.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://github.com/DarkKaiser/rss-feed-server/blob/master/LICENSE"
        },
        "version": "1.0.0"
    },
    "host": "rss.darkkaiser.com",
    "basePath": "/",
    "paths": {
        "/": {
            "get": {
                "description": "현재 서버가 서비스 중인 전체 RSS 피드 목록과 각 피드의 상세 정보를 HTML 페이지로 제공합니다.\n각 피드의 구독 주소(URL), 사이트 이름, 게시판 목록, 크롤링 주기 등을 한눈에 확인할 수 있습니다.",
                "produces": [
                    "text/html"
                ],
                "tags": [
                    "RSS"
                ],
                "summary": "RSS 피드 목록 요약 페이지",
                "responses": {
                    "200": {
                        "description": "RSS 피드 목록 HTML 페이지",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "서버 내부 오류 (템플릿 렌더링 실패 등)",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/{id}": {
            "get": {
                "description": "지정된 식별자(id)에 해당하는 게시판의 최신 게시글을 RSS 2.0 규격의 XML 형식으로 반환합니다.\nRSS 리더 앱(Feedly, Inoreader 등)의 구독 주소로 직접 사용할 수 있습니다.\n\n**식별자 형식**: `/{id}` 와 `/{id}.xml` 형식 모두 동일하게 처리됩니다.",
                "produces": [
                    "application/xml"
                ],
                "tags": [
                    "RSS"
                ],
                "summary": "개별 RSS 피드 조회",
                "parameters": [
                    {
                        "type": "string",
                        "example": "naver-cafe",
                        "description": "RSS 피드 고유 식별자",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RSS 2.0 규격 XML 문서 (\u003crss version=\\\"2.0\\\"\u003e\u003cchannel\u003e...\u003c/channel\u003e\u003c/rss\u003e)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "유효하지 않은 피드 식별자 (등록되지 않은 ID)",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "서버 내부 오류 (DB 조회 실패 또는 XML 직렬화 오류)",
                        "schema": {
                            "$ref": "#/definitions/response.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "response.ErrorResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "description": "Message 에러 메시지",
                    "type": "string",
                    "example": "요청한 RSS 피드(ID:naver-cafe)를 찾을 수 없습니다."
                },
                "result_code": {
                    "description": "ResultCode HTTP 상태 코드 (예: 400, 401, 500)",
                    "type": "integer",
                    "example": 400
                }
            }
        }
    }
}